# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
.venv-1/
venv/
env/
ENV/

# Environment variables / secrets
.env
.env.local

# Database files
*.db
*.sqlite3

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo

# OS metadata
.DS_Store
Thumbs.db
